{% extends "dashboard/dashboard/dashboard_base.html" %}

{% block title %} Article Details {% endblock title %}

{% block content %}
<div class="container">
  <div class="content-section">
    <div class="card shadow-sm w-100">
      <h4 class="card-header">{{ article.title }} Details</h4>
      <div class="card-body">
        <p><strong>Title:</strong> {{ article.title }}</p>
        <p><strong>Description:</strong></p>
        <div>{{ article.description|safe }}</div>

        <div class="mt-4">
          <a
            href="{% url 'blog:article_update' article.id %}"
            class="btn btn-primary"
            >Edit</a
          >
          <a
            href="#"
            class="btn btn-danger"
            onclick="confirmDeletion(`{% url 'blog:article_delete' article.id %}`)"
            >Delete</a
          >
          <a href="{% url 'blog:article_list' %}" class="btn btn-secondary"
            >Back to List</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function confirmDeletion(url) {
    if (confirm("Are you sure you want to delete this article? This action cannot be undone.")) {
      window.location.href = url;
    }
  }
</script>
{% endblock content %}
